
# ─────────────────────────────────────────────────────────────
# 
#  RabbitMQ
# ─────────────────────────────────────────────────────────────
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_PORT=5672
RABBITMQ_EXCHANGE=something_exchange
RABBITMQ_QUEUE=something_queue
RABBITMQ_ROUTING_KEY=something


# ─────────────────────────────────────────────────────────────
# MySQL  (external host DB — not a container)
# ─────────────────────────────────────────────────────────────
MYSQL_HOST=host-gateway
MYSQL_PORT=3306
MYSQL_USER=your-username
MYSQL_PASS=your-password
MYSQL_DB=your-db-name


# ─────────────────────────────────────────────────────────────
# Gmail SMTP
# ─────────────────────────────────────────────────────────────
SMTP_FROM=smtp-email
SMTP_TO=to-email
SMTP_APP_PASS=app-password
